<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock title %} - Weathersite</title>
    {% endblock head %}
</head>
<body>
    <div id="navbar">
        
        {% block navbar %}
        {% endblock navbar %}
        
        <div id="searchbar">
            {% block searchbar %}
                    <form action="{{ url_for('search') }}" method="GET">
                        <input type="text" name="q" placeholder="Search a location" required>
                        <button type="submit">Search</button>
                    </form>
            {% endblock searchbar %}
        </div>
        
    </div>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2026 by <a href="http://weathersite">Weathersite</a>.
        {% endblock footer %}
    </div>
</body>
</html>